html {
	--background: hsl(40, 20%, 96%);
	--accent: hsl(175, 100%, 22%);
	--error: hsl(358, 44%, 46%);
	--text: hsl(0, 1%, 34%);
}

@media (prefers-color-scheme: dark) {
	html {
		--background: hsl(0, 0%, 10%);
		--accent: hsl(175, 100%, 34%);
		--error: hsl(358, 44%, 55%);
		--text: hsl(0, 0%, 84%);
	}
}
