h1 {
	color: hsl(358, 44%, 46%);
	color: var(--red);
	font-size: 3.375em;
	line-height: 1;
}

h2 {
	font-size: 2.250em;
	font-weight: normal;
	margin: 1.5em 0;
}

a {
	color: hsl(175, 100%, 22%);
	color: var(--green);
	font-size: 1.375em;
	transition: opacity .08s;
}

a:hover,
a:focus {
	opacity: .8;
}
