svg {
	width: 5.875em;
}

h1 {
	font-size: 2.875em;
	font-weight: normal;
	margin: .625em 0 0;
}

p {
	font-size: 1.625em;
	margin: 0 0 2em;
}

span {
	color: hsl(175, 100%, 22%);
	font-size: 1.438em;
}

@media (prefers-color-scheme: dark) {
	span {
		color: hsl(175, 100%, 34%);
	}
}
