h1 svg {
	height: 4.875em;
	width: 5.625em;
}

span,
svg {
	vertical-align: middle;
}

p {
	font-size: 1.625em;
	margin: 1em 1em;
}

a svg {
	height: 1.563em;
	margin: 0 .625em 0 0;
	width: 1.750em;
}
