* {
	margin: 0;
}

html {
	background: hsl(40, 20%, 98%);
	color: hsl(0, 0%, 34%);
	display: table;
	font-family: Courier New, monospace;
	font-size: calc(.275em + .72vh + .72vw);
	height: 100%;
	letter-spacing: .05em;
	line-height: 1.750;
	margin: 0 auto;
	width: 100%;
}

body {
	display: table-cell;
	padding: 1.875em 2em;
	text-align: center;
	vertical-align: middle;
}

h1 {
	font-size: 2.5em;
	font-weight: normal;
	margin: 0 0 .15em;
}

h2 {
	font-size: 1.5em;
	font-weight: normal;
}

@media (prefers-color-scheme: dark) {
	html {
		background: hsl(0, 0%, 10%);
		color: hsl(0, 0%, 84%);
	}
}
