---
layout: minify
---
<!DOCTYPE html>
<html lang=en>
<meta charset=utf-8>
<title>{{ site.title }}</title>
<meta name=description content="{{ site.description }}">
<meta name=viewport content="width=device-width, initial-scale=1">
<link rel=manifest href=/site.webmanifest>
<style>
	{% capture style %}
		{% include color.css %}
		{% include main.css %}
		{% if page.url == "/" %}
			{% include home.css %}
		{% endif %}
		{% if page.url == "/404" %}
			{% include error.css %}
		{% endif %}
		{% if page.url == "/psst" %}
			{% include secret.css %}
		{% endif %}
	{% endcapture %}
	{{ style | scssify }}
</style>
<main>
	{{ content }}
</main>
